<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ArduinoSelfHost" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SerialSwitch" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ArduinoSelfHost" contract="ArduinoSelfHost"
                name="BasicHttpBinding_ArduinoSelfHost" />
        </client>
    </system.serviceModel>
</configuration>